.submit{
  text-align: center;
   background-color: lightcoral;
  width: 8em;
  height: 3em;
  border: transparent;
  border-radius: 0.5em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
}